<head><link rel="stylesheet" type="text/css" href="new.css"></head>

<h1>Create a manufacturer</h1>
<body>
<%= simple_form_for @manufacturer do |f| %>
  <ul>
    <li><%= f.input :name %></li>
    <li><%= f.input :country, as: :select, collection:country_dropdown %></li>
<<<<<<< HEAD
    <%= f.button :submit %>
=======
    <li><%= f.submit %></li>
>>>>>>> e415f4d3de39e42453ccfc3862d2bb77ea4978d9
  </ul>
<body>
<% end %>